@use '../abstracts/variables' as *;

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sp-6;

    &__number {
        font-size: $text-6xl;
        font-weight: 700;
        transition: transform 0.2s ease;

        &.bump {
            animation: bump-effect 0.2s cubic-bezier(0.4, 0, 1, 1);
        }
    }
}

@keyframes bump-effect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.svg-draw__line {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: drawLine 2s ease forwards 0.5s;
}
.svg-draw__dot {
    opacity: 0;
    animation: fadeIn 0.3s ease forwards 2s;
}

@keyframes drawLine {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.progress-container {
    width: 100%;
    background: var(--color-border);
    border-radius: 99px;
    overflow: hidden;
    position: relative;
    margin: $sp-12;
}

.progress-bar {
    background-color: var(--color-primary);
    width: 0;
    height: 6px;
    border-radius: 99px;

    &.initial-state {
        animation: barLoad 2s infinite ease-in-out;
    }

    &.loading-state {
        animation: fill-up 3s ease-out forwards;
    }
}

@keyframes barLoad {
    0% {
        width: 0%;
        margin-left: 0%;
    }
    50% {
        width: 70%;
        margin-left: 15%;
    }
    100% {
        width: 0%;
        margin-left: 100%;
    }
}

@keyframes fill-up {
    from {
        width: 0%;
        margin-left: 0%;
    }
    to {
        width: 100%;
        margin-left: 0%;
    }
}
