@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.skeleton {
    cursor: progress;
    border-radius: $radius-md;
    background: linear-gradient(110deg, #dcdce0 40%, #e1e1e6 50%, #dcdce0 60%) right / 300% 100%;
    animation:
        shimmer 2s linear infinite,
        pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    &--image {
        height: 100%;
        width: 100%;
        border-radius: $radius-lg;
        margin-bottom: $sp-4;
    }

    &--title {
        height: 20px;
        width: 70%;
        margin-bottom: $sp-2;
    }

    &--text {
        height: 14px;
        width: 100%;
        margin-bottom: $sp-2;
    }

    &--text-short {
        width: 55%;
    }

    &--btn {
        height: 36px;
        width: 110px;
        margin-top: $sp-2;
        border-radius: $radius-lg;
    }

    &__body {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 100%;
    }
}

@keyframes shimmer {
    to {
        background-position: left center;
    }
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}
